h2 {
    font-size: 3rem;
    font-style: bold;
    background-color: #FFF8DC;
    color: #800000;
}

.c1 {
    background-color: #003476;
    font-size: 18px;
}

.c2 {
    background-color: #0062d2;
}

.c3 {
    background-color: #a4d2f7;
}

.c4 {
    background-color: #d5dfef;
}

.c5 {
    background-color: #b0e1e5;
}

.c1, .c2, .c3, .c4, .c5{
    height: 100px;
}

body{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .c2.ls,
    .c3.ls{
        font-size: 50px;
    }
    
}

@media(min-width: 600px){
    .cd-cont{
        flex-direction: row;
    }
    .cd{
        width: 100%;
    }
    .c1.ls{
        background: #008080;
        width: 191px;
        height: 300px;
    }
    .c2.ls{
        background: #FF69B4;
        height: 50%;
    }
    .c3.ls{
        background: #A4D2F7;
        height: 50%;
    }
    .ls-cont{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .c4.ls{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
    }
    .mf-cont{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .c1.mf{
        width: 100%;
    }
    .c2.mf,
    .c3.mf,
    .c4.mf,
    .c5.mf{
        width: 50%;
    }
}
@media (min-width: 801px) {
    .ls-cont{        
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 800px;
    }
    .mf-cont{        
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 800px;
    }
    .c1.mf{
        width: 75%;
    }
    .c2.mf{
        width: 25%;
        font-size: 31px;
        font-style: oblique;
    }
    .c3.mf,
    .c4.mf, 
    .c5.mf{
        color: red;
        font-size: 31px;
        width: 33.3%;
    }
    .cd-cont{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    .c1.cd{
        width: 25%;
    }
    .c2.cd{
        width: 75%;
    }
    .c3.cd{
        width: 100%;
    }
}